@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600&family=Source+Sans+Pro:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #5e2278;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(13%, #5e2278), color-stop(88%, #4569bb)) no-repeat;
  background: linear-gradient(0deg, #5e2278 13%, #4569bb 88%) no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

@-webkit-keyframes hair {
  from {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(17deg);
    transform: rotateX(17deg);
  }
}

@keyframes hair {
  from {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(17deg);
    transform: rotateX(17deg);
  }
}

@-webkit-keyframes key {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes key {
  from {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
  to {
    -webkit-transform: translateY(-180px) rotate(120deg);
    transform: translateX(-180px) rotate(120deg);
  }
}

@-webkit-keyframes skirt {
  from {
    -webkit-transform: translate(0px);
    transform: translate(0px);
  }
  to {
    -webkit-transform: translate(-4px, -10px);
    transform: translate(-4px, -10px);
  }
}

@keyframes skirt {
  from {
    -webkit-transform: translate(0px);
    transform: translate(0px);
  }
  to {
    -webkit-transform: translate(-4px, -10px);
    transform: translate(-10px, -1px);
  }
}

#hair {
  -webkit-animation: .8s hair infinite linear alternate;
  animation: .8s hair infinite linear alternate;
}

#key {
  -webkit-animation: 2.8s key infinite linear alternate;
  animation: 2.8s key infinite linear alternate;
  -webkit-transform-origin: center;
  transform-origin: center;
  transform-box: fill-box;
}

#skirt {
  -webkit-animation: 1.9s skirt infinite linear alternate;
  animation: 1.9s skirt infinite linear alternate;
}

.form-wrapper {
  width: 320px;
  height: 520px;
  background-color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.form-wrapper-image {
  display: none;
  background-color: #fff;
}

.form-wrapper-image-img {
  width: 80%;
  height: 80%;
  display: none;
}

.form-wrapper-login {
  width: 100%;
  height: 95%;
}

.form-wrapper-login__h1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 100px;
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 29px;
}

.form-wrapper-login__formContainer {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: inline-block;
  text-align: center;
}

.form-wrapper-login__formContainer-Element {
  position: relative;
}

.form-wrapper-login__formContainer-Element:nth-child(3) {
  margin-top: 30px;
}

.form-wrapper-login__formContainer-Element__inputLog, .form-wrapper-login__formContainer-Element__inputPass {
  margin-top: 15px;
  width: 80%;
  height: 42px;
  border-radius: 50px;
  background-color: #ebebeb;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  -webkit-transition: border ease-in .2s;
  transition: border ease-in .2s;
  font-family: 'Source Sans Pro', sans-serif;
}

.form-wrapper-login__formContainer-Element__inputLog:focus, .form-wrapper-login__formContainer-Element__inputPass:focus {
  border: solid 2px #000;
}

.form-wrapper-login__formContainer-Element__inputLog::-webkit-input-placeholder, .form-wrapper-login__formContainer-Element__inputPass::-webkit-input-placeholder {
  padding: 8px 45px;
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
}

.form-wrapper-login__formContainer-Element__inputLog:-ms-input-placeholder, .form-wrapper-login__formContainer-Element__inputPass:-ms-input-placeholder {
  padding: 8px 45px;
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
}

.form-wrapper-login__formContainer-Element__inputLog::-ms-input-placeholder, .form-wrapper-login__formContainer-Element__inputPass::-ms-input-placeholder {
  padding: 8px 45px;
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
}

.form-wrapper-login__formContainer-Element__inputLog::placeholder, .form-wrapper-login__formContainer-Element__inputPass::placeholder {
  padding: 8px 45px;
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
}

.form-wrapper-login__formContainer-Element-img {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 29px;
  left: 50px;
}

.form-wrapper-login__formContainer-Element__button {
  border-radius: 50px;
  width: 80%;
  height: 45px;
  border: none;
  background-color: #35d135;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  -webkit-transition: ease-in .2s;
  -webkit-transition: background-color ease-in .2s;
  transition: background-color ease-in .2s;
  cursor: pointer;
}

.form-wrapper-login__formContainer-Element__button a {
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100%;
}

.form-wrapper-login__formContainer-Element__button:hover {
  background-color: #000;
}

.form-wrapper-login__formContainer-Forgot {
  width: 100%;
  margin-top: 18px;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1.1px;
}

.form-wrapper-login__formContainer-Forgot a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  -webkit-transition: color ease-in .2s;
  transition: color ease-in .2s;
}

.form-wrapper-login__formContainer-Forgot a:hover {
  color: #35d135;
}

.form-wrapper-login__formContainer-Create {
  width: 100%;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1.1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 90px;
}

.form-wrapper-login__formContainer-Create a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.form-wrapper-login__formContainer-Create-img {
  width: 20px;
  height: 15px;
  margin-left: 5px;
}

@media (min-width: 600px) {
  .form-wrapper {
    width: 85%;
  }
  .form-wrapper-login__formContainer-Element-img {
    left: 72px;
  }
}

@media (min-width: 670px) {
  .form-wrapper-login__formContainer-Element-img {
    left: 80px;
  }
}

@media (min-width: 800px) {
  .form-wrapper-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 50%;
  }
  .form-wrapper-login__formContainer-Element-img {
    left: 55px;
  }
  .form-wrapper-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    width: 50%;
  }
  .form-wrapper-image-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 900px) {
  .form-wrapper {
    width: 95%;
    height: 95%;
  }
  .form-wrapper-login__formContainer-Element-img {
    left: 65px;
  }
}

@media (min-width: 1080px) {
  .form-wrapper-login__formContainer-Element-img {
    left: 72px;
  }
}

@media (min-width: 1200px) {
  .form-wrapper-login__formContainer-Element-img {
    left: 75px;
  }
}

@media (min-width: 1400px) {
  body {
    overflow: hidden;
  }
  .form-wrapper-login {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    margin-right: 120px;
  }
  .form-wrapper-login__formContainer-Element-img {
    left: 80px;
  }
}

@media (min-width: 1600px) {
  .form-wrapper-login {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    margin-right: 140px;
    width: 40%;
  }
  .form-wrapper-login__formContainer-Element-img {
    left: 80px;
  }
  .form-wrapper-image {
    width: 60%;
  }
}

@media (min-width: 1920px) {
  .form-wrapper-login {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    width: 30%;
    bottom: 30px;
    position: relative;
  }
  .form-wrapper-login__formContainer-Element-img {
    left: 72px;
  }
  .form-wrapper-image {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */