@media (min-width:600px) {
    .form-wrapper {
        width:85%;
        &-login {
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        &-image {
                            left:80px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:660px) {
    .form-wrapper {
        &-login {
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        &-image {
                            left:90px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:740px) {
    .form-wrapper {
        &-login {
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        &-image {
                            left:100px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:800px) {
    .form-wrapper {
        width:95%;
        height:95%;
        &-image {
            display:-webkit-box;
            display:flex;
            -webkit-box-pack:center;
            justify-content:center;
            -webkit-box-align:center;
            align-items:center;
            width:55%;
            &-img {
                display:-webkit-box;
                display:flex;
            }
        }
        &-login {
            width:45%;
            height:100%;
            position: relative;
            bottom:58px;
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        &-image {
                            left:60px;
                        }
                    }
                }
                &-Create {
                    position: absolute;
                    bottom:-30px;
                    left:0;
                }
            }
        }
    }
}

@media (min-width:900px) {
    .form-wrapper {
        &-login {
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        &-image {
                            left:70px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1015px) {
    .form-wrapper {
        &-login {
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        &-image {
                            left:80px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1200px) {
    .form-wrapper {
        &-image {
            width:60%;
            &-img {
                display:-webkit-box;
                display:flex;
            }
        }
        &-login {
            width:40%;
            height:100%;
            position: relative;
            bottom:58px;
            margin-right:50px;
            &__h1 {
                font-size:35px;
            }
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        width:320px;
                        height:48px;
                        font-size:18px;
                        &::-webkit-input-placeholder {
                            font-size:15px;
                        }
                        &::-moz-placeholder {
                            font-size:15px;
                        }
                        &:-ms-input-placeholder {
                            font-size:15px;
                        }
                        &::-ms-input-placeholder {
                            font-size:15px;
                        }
                        &::placeholder {
                            font-size:15px;
                        }
                        &-image {
                            top:35px;
                            left:85px;
                        }
                    }
                    &__button {
                        width:320px;
                        height:48px;
                    }
                }
                &-Forgot {
                    font-size:13px;
                }
                &-Create {
                    font-size:13px;
                }
            }
        }
    }
}

@media (min-width:1270px) {
    .form-wrapper {
        &-login {
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        &-image {
                            left:95px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1310px) {
    .form-wrapper {
        &-login {
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        &-image {
                            left:105px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1370px) {
    .form-wrapper {
        &-login {
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        &-image {
                            left:115px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1415px) {
    .form-wrapper {
        &-login {
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        &-image {
                            left:125px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1495px) {
    .form-wrapper {
        &-login {
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        &-image {
                            left:140px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1575px) {
    .form-wrapper {
        &-login {
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        &-image {
                            left:155px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1600px) {
    .form-wrapper {
        &-image {
            width:65%;
        }
        &-login {
            width:35%;
            margin-right:150px;
            &__h1 {
                font-size:50px;
            }
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        height:52px;
                        width:370px;
                        font-size:20px;
                        &::-webkit-input-placeholder {
                            font-size:16px;
                        }
                        &::-moz-placeholder {
                            font-size:16px;
                        }
                        &:-ms-input-placeholder {
                            font-size:16px;
                        }
                        &::-ms-input-placeholder {
                            font-size:16px;
                        }
                        &::placeholder {
                            font-size:16px;
                        }
                        &-image {
                            top:36px;
                            left:80px;
                        }
                    }
                    &__button {
                        width:370px;
                        height:52px;
                    }
                }
                &-Forgot {
                    font-size:15px;
                }
                &-Create {
                    font-size:15px;
                }
            }
        }
    }
}

@media (min-width:1685px) {
    .form-wrapper {
        &-login {
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        &-image {
                            left:95px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1760px) {
    .form-wrapper {
        &-login {
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        &-image {
                            left:110px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1850px) {
    .form-wrapper {
        &-login {
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        &-image {
                            left:125px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1920px) {
    .form-wrapper {
        &-image {
            width:65%;
        }
        &-login {
            width:35%;
            margin-right:150px;
            &__h1 {
                font-size:55px;
            }
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        width:480px;
                        height:60px;
                        font-size:21px;
                        &::-webkit-input-placeholder {
                            font-size:17px;
                        }
                        &::-moz-placeholder {
                            font-size:17px;
                        }
                        &:-ms-input-placeholder {
                            font-size:17px;
                        }
                        &::-ms-input-placeholder {
                            font-size:17px;
                        }
                        &::placeholder {
                            font-size:17px;
                        }
                        &-image {
                            width:17px;
                            height:17px;
                            top:38px;
                            left:75px;
                        }
                    }
                    &__button {
                        width:480px;
                        height:60px;
                        font-size:20px;
                    }
                }
                &-Forgot {
                    font-size:17px;
                }
                &-Create {
                    font-size:17px;
                }
            }
        }
    }
}

@media (min-width:1980px) {
    .form-wrapper {
        &-login {
            &__formContainer {
                &-Element {
                    &__inputLog,
                    &__inputPass {
                        &-image {
                            left:85px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-height:380px) {
    .form-wrapper {
        &-login {
            &__formContainer {
                &-Create {
                    bottom:-48px;
                    position:absolute;
                }
            }
        }
    }
}
