.form-wrapper {
    width:320px;
    height:520px;
    background-color:#fff;
    border-radius:10px;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    position:absolute;
    display:-webkit-box;
    display:flex;
    -webkit-box-pack:justify;
    justify-content:space-between;
    &-image {
        display:none;
        background-color:rgb(247, 182, 3);
    }
    &-login {
        width:100%;
        &__h1 {
            width:100%;
            display:-webkit-box;
            display:flex;
            -webkit-box-pack:center;
            justify-content:center;
            margin-top:100px;
            font-family: 'Baloo Paaji 2', cursive;
            font-size:29px;
        }
        &__formContainer {
            width:100%;
            margin-top:10px;
            display:-webkit-box;
            display:inline-block;
            text-align:center;
            &-Element {
                position:relative;
                &:nth-child(3) {
                    margin-top:30px;
                }
                &__inputLog,
                &__inputPass {
                    margin-top:15px;
                    width:80%;
                    height:42px;
                    border-radius:50px;
                    background-color:rgb(235, 235, 235);
                    border:none;
                    outline:none;
                    cursor: pointer;
                    text-align:center;
                    -webkit-transition:border ease-in .2s;
                    transition:border ease-in .2s;
                    font-family:'Source Sans Pro', sans-serif;
                    &:focus {
                        border:solid 2px #000;
                    }
                    &::-webkit-input-placeholder {
                        padding:8px 45px;
                        font-size:13px;
                        font-family:'Source Sans Pro', sans-serif;
                        text-align:left;
                    }
                    &::-moz-placeholder {
                        padding:8px 45px;
                        font-size:13px;
                        font-family:'Source Sans Pro', sans-serif;
                        text-align:left;
                    }
                    &:-ms-input-placeholder {
                        padding:8px 45px;
                        font-size:13px;
                        font-family:'Source Sans Pro', sans-serif;
                        text-align:left;
                    }
                    &::-ms-input-placeholder {
                        padding:8px 45px;
                        font-size:13px;
                        font-family:'Source Sans Pro', sans-serif;
                        text-align:left;
                    }
                    &::placeholder {
                        padding:8px 45px;
                        font-size:13px;
                        font-family:'Source Sans Pro', sans-serif;
                        text-align:left;
                    }
                }
                &-img {
                    width:13px;
                    height:13px;
                    position:absolute;
                    top:29px;
                    left:50px;
                }
                &__button {
                    border-radius:50px;
                    width:80%;
                    height:45px;
                    border:none;
                    background-color:$green;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size:15px;
                    text-transform:uppercase;
                    -webkit-transition:ease-in .2s;
                    -webkit-transition:background-color ease-in .2s;
                    transition:background-color ease-in .2s;
                    cursor:pointer;
                    a {
                        text-decoration:none;
                        color:#fff;
                        display:-webkit-box;
                        display:flex;
                        -webkit-box-align:center;
                        align-items:center;
                        -webkit-box-pack:center;
                        justify-content:center;
                        height:100%;
                    }
                    &:hover {
                        background-color:#000;
                    }
                }
            }
            &-Forgot {
                width:100%;
                margin-top:18px;
                font-size:12px;
                font-family: 'Source Sans Pro', sans-serif;
                letter-spacing:1.1px;
                a {
                    text-decoration:none;
                    color:#000;
                    cursor:pointer;
                    -webkit-transition:color ease-in .2s;
                    transition:color ease-in .2s;
                    &:hover {
                        color:$green;
                    }
                }
            }
            &-Create {
                width:100%;
                margin-top:100px;
                font-size:12px;
                font-family: 'Source Sans Pro', sans-serif;
                letter-spacing:1.1px;
                display:-webkit-box;
                display:flex;
                -webkit-box-pack:center;
                justify-content:center;
                -webkit-box-align:center;
                align-items:center;
                a {
                    text-decoration:none;
                    color:#000;
                    cursor:pointer;
                }
                &-img {
                    width:20px;
                    height:15px;
                    margin-left:5px;
                }
            }
        }
    }
}